*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
*/build
Captures
.externalNativeBuild
.cxx
local.properties

# Do NOT ignore release.jks and gradle-wrapper.jar
!app/release.jks
!gradle/wrapper/gradle-wrapper.jar
